<div>
  <cabecalho></cabecalho>
  <div style="padding: 60px;">
    <h1>Meu Carrinho</h1>
    <div class="carrinho-container">
      <div class="produto-card" ng-repeat="item in carrinhoItens">
        <h3>{{ item.product.name }}</h3>
        <p>R$ {{ item.product.price }}</p>
        <p>Quantidade: {{ item.amount }}</p>
        <p>Promoção: {{ item.product.promotion }}</p>
        
        <button class="amount" ng-click="diminuirQuantidade(item)">-</button>
        <button class="amount" ng-click="aumentarQuantidade(item)">+</button>
        
        <div style="align-items: center; margin-top: 2px;">
          <md-button class="md-raised md-accent" 
          style="background-color: red; margin: auto; font-weight: bold; border-radius: 3px;"
          ng-click="removerDoCarrinho(item.id)">Excluir</md-button>
        </div>
      </div>
      
      

    </div>
    <h3 class="totalBotao">Total: R$ {{ carrinhoTotal.totalprice }}</h3>
    <button ng-click="atualizarCarrinho()" class="atualizarButton">Atualizar Carrinho</button>
  </div>
</div>
